[Unit]
Description=Spring Boot Config Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ app_user }}
Group={{ app_group }}
ExecStart=/usr/bin/java -Dlogging.file.path=/var/log/configsrv -Dspring.profiles.active=composite -jar /opt/spring-boot-config-server/my-config-server.jar --server.port=8888 --spring.config.additional-location=file:/opt/spring-boot-config-server/application-dynamic.properties


[Install]
WantedBy=multi-user.target
