[Unit]
Description=Spring Boot Config Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ app_user }}
Group={{ app_group }}
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_jar_name }} --server.port={{ app_port }} --spring.config.additional-location=file:{{ app_dir }}/application-dynamic.properties

[Install]
WantedBy=multi-user.target
